@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
$bootstrap-icons-font-dir: "../../node_modules/bootstrap-icons/font/fonts";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons";



.dark {
	
	$enable-gradients: true;

	/* redefine theme colors for dark theme */
	$secondary: #535353;
	$success: #7df67d;
	$danger: #a4303c;
	$dark: #000;
	$light: #777;
	
	$theme-colors: (
		"primary": $primary,
		"secondary": $secondary,
		"success": $success,
		"danger": $danger,
		"info": $info,
		"dark": $dark,
		"light": $light,
		);

		/* redefine theme color variables */
		@each $color, $value in $theme-colors {
			--#{$variable-prefix}#{$color}: #{$value};
		}
		
		$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
		
		@each $color, $value in $theme-colors-rgb {
			--#{$variable-prefix}#{$color}-rgb: #{$value};
		}
		
		
	$modal-footer-border-width: 0;
	$modal-header-border-width: 0;
	$body-color: #ccc;
	$body-bg: #282828;
	$form-text-color: $body-color;
	$card-border-color: black;
	$card-bg: #424242;
	$navbar-dark-brand-color: red;
	$navbar-dark-active-color: black;
	$dark-navbar-color: pink;
	$scrollbar-track: #3a3a3a;
	$scrollbar-thumb:#888;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background: $scrollbar-track;
		border-radius: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background: $scrollbar-thumb;
		border-radius: 4px;
	}
	$dark-grey-arrow: #777;

	// Override the arrow styling for number inputs
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		opacity: 1;
		filter: invert(0.65) contrast(1) sepia(.5) saturate(1) hue-rotate(180deg);
		cursor: pointer;
		color: $dark-grey-arrow; // Fallback or custom color
	}

	// Optional: Add a hover effect
	input[type=number]::-webkit-inner-spin-button:hover,
	input[type=number]::-webkit-outer-spin-button:hover {
		filter: invert(0.7) contrast(1) sepia(.5) saturate(1) hue-rotate(180deg);
	}

	
	scrollbar-width: thin;
	scrollbar-color: $scrollbar-thumb $scrollbar-track;
	
	--#{$variable-prefix}body-color: #{$body-color};
	--#{$variable-prefix}body-bg: #{$body-bg};
	
	@import "bootstrap";
}
@import "../../node_modules/bootstrap/scss/bootstrap";

